<div class="container mb-3">
  <div class="bg-white rounded-lg shadow-lg">
    <div class="card-home">
      <app-home></app-home>
    </div>
    <div class="card-header">
      <app-header></app-header>
    </div>
    <div class="card-body">
      <app-body></app-body>
      <app-frase></app-frase>
      <app-frase-form></app-frase-form>
    </div>
    <div class="card-footer">
      <app-footer></app-footer>
    </div>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
